
<div class="col-md-4 col-md-offset-4">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>

    <div>
        <a class="btn btn-block btn-social btn-github" href="/auth/github">
            <span class="fa fa-github"></span> Sign in with GitHub
        </a>
        <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook">
            <span class="fa fa-facebook"></span> Sign in with Facebook
        </a>
        <a class="btn btn-block btn-social btn-twitter" href="/auth/twitter">
            <span class="fa fa-twitter"></span> Sign in with Twitter
        </a>
        <a class="btn btn-block btn-social btn-linkedin" href="/auth/linkedin">
            <span class="fa fa-linkedin"></span> Sign in with LinkedIn
        </a>
        <a class="btn btn-block btn-social btn-instagram" href="/auth/instagram">
            <span class="fa fa-instagram"></span> Sign in with Instagram
        </a>
        <a class="btn btn-block btn-social btn-foursquare" href="/auth/foursquare">
            <span class="fa fa-foursquare"></span> Sign in with Foursquare
        </a>
    </div>

    <hr/>

    <div>
        {{> loginForm this }}
    </div>
</div>