<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/libraries/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/libraries/font-awesome/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/libraries/bootstrap-social/bootstrap-social.css' />
    <script type='text/javascript' src='/libraries/jquery/dist/jquery.min.js'></script>
    <script type='text/javascript' src='/libraries/bootstrap/dist/js/bootstrap.min.js'></script>
</head>
<body>
    <div class="container">
        {{{body}}}
    </div>


</body>
</html>
